<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codingfactory.fruitroulette">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_strawberry"
        android:label="FRUIT ROULETTE"
        android:roundIcon="@drawable/ic_strawberry"
        android:supportsRtl="true"
        android:theme="@style/Theme.FruitRoulette">
        <activity
            android:name=".ui.NewGame"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_new_game"
            android:theme="@style/Theme.FruitRoulette.Fullscreen" />
        <activity
            android:name=".ui.MainMenu"
            android:exported="true"
            android:theme="@style/Theme.FruitRoulette.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="High Scores"
            android:name=".ui.HighScores"
            android:exported="true"/>
    </application>

</manifest>